@using SimpleProductInventoryManagement.PLEASE.Pages.Shared


<EditForm Model="@ProductEntity" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@ProductEntity.Name" class="form-control" />
                <ValidationMessage For="@(() => ProductEntity.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div>
                <InputText @bind-Value="@ProductEntity.Description" class="form-control" />
                <ValidationMessage For="@(() => ProductEntity.Description)" />
            </div>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <div>
                <InputNumber @bind-Value="@ProductEntity.Price" class="form-control" />
                <ValidationMessage For="@(() => ProductEntity.Price)" />
            </div>
        </div>
        <div class="form-group">
            <label>Quantity:</label>
            <div>
                <InputNumber @bind-Value="@ProductEntity.Quantity" class="form-control" />
                <ValidationMessage For="@(() => ProductEntity.Quantity)" />
            </div>
        </div>

    </fieldset>
    @if (!Disabled)
        {
            <button type="submit" class="btn btn-success btn-block">
                @ButtonText
            </button>
        }
        <BackToList Target="products" />
</EditForm>
